{% extends "base.html" %} {% block content %}
<h2>Movies I Have Watched</h2>
<p>
    <ul>
        {% for movie in watched_movies %}
        <li>
            <form>
                <select>
                    {{ movie }} 
                    <option value="*">*</option>
                    <option value="**">**</option>
                    <option value="***">***</option>
                    <option value="****">****</option>
                    <option value="*****">*****</option>
                </select>
            </form>
        </li>
        {% endfor %}
    </ul>
</p>
{% endblock %}